.menu li a::after{
  content: "";
  position: absolute;
  bottom:-40%;
  left:0;
  width: 0;
  height: 5px;
  background-color: #EDA815;
  transition: 0.15s;
  border-radius: 5px 0 5px 0;
}

.menu li a:hover::after{
  width: 70%;
  transition: 0.15s;
}

.menuOn{
  display: flex !important;
  flex-direction: column;
  align-items: center !important; 
  justify-content: start !important;
  gap: 30px;
  animation: menuMobile 0.3s ease-in-out;
  transition: 0.3s;
}





.active-tab{
  width: 30% !important;
  background-color: #EDA815 !important;
  transition: 0.3s;
}

.desactive-tab{
  width: 10%;
  transition: 0.3s;
  background-color: #ffffff;
}

.tab:hover{
  transform: scale(1.05);
}

.anime-height{
  height: 30px !important;
  transition: 0.5s;
}

.active-texto, .active-beneficios{
  display: block !important;
  animation: anima-LeftToRight 0.3s ease-in-out;
}

.active-accordion{
  display: block !important;
  animation: anima-TopToBottom 0.3s ease-in-out;
}

.anime-element.active.espec-left{
  animation: anima-leftToRight 0.3s ease-in-out;
}
.anime-element.active.espec-right{
  animation: anima-rightToLeft 0.3s ease-in-out;
}
.anime-element.active.anime-foto{
  animation: anima-foto 0.3s ease-in-out;
}
.FAQ.anime-element.active .FAQ-decoration.anima-faq{
  animation:  anima-width 0.3s ease-in-out;
}

.anime-element{
  opacity: 0;
  transform: translate3d(-50px, 0, 0);
  transition: 0.3s;
}

.anime-element.active{
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.3s;
}



@keyframes menuMobile{
  from{
    opacity: 0;
    transform: translateX(-100%);
  }

  to{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes anima-leftToRight{
  from{
    opacity: 0;
    transform: translateX(-100%);
  }

  to{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes anima-rightToLeft{
  from{
    opacity: 0;
    transform: translateX(100%);
  }

  to{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes anima-topToBottom{
  from{
    opacity: 0;
    display: none;
    transform: translateY(-35%);
  }

  to{
    opacity: 1;
    display: block;
    transform: translateY(0);
  }
}
@keyframes anima-bottomToTop{
  from{
    opacity: 0;
    display: none;
    transform: translateY(55%);
  }

  to{
    opacity: 1;
    display: block;
    transform: translateY(0);
  }
}
@keyframes anima-width{
  from{
    opacity: 0;
    width: 0;
  }

  to{
    opacity: 1;
    width: 30px;
  }
}
@keyframes anima-foto{
  from{
    opacity: 0;
    transform: scale(0.95);
  }

  to{
    opacity: 1;
    transform: scale(1);
  }
}








