.banner{
  position: relative;
  top:0;
  left:0;
  width: 100%;
  background-color: #a10000;
  box-shadow: 0 400px 0 0 #a10000;
}

.banner-img{
  position: relative;
  height: 830px;
  width: 100%;
  max-width: 100%;
  margin:0 auto;
  z-index: 600;
  background-image: url(/img/carro.jpg);
  background-position: 40% 50%;
  background-size: cover;
  z-index: 786;
}


.banner-text{
  position: relative;
  margin:40px auto 0 auto;
  color:#ffffff;
  padding:90px 0px 70px 0px;
  border-bottom:  1px solid #ffffff;
}

.banner-text h2{
  font-size: 2.5rem;
  margin-bottom:65px;
  font-family: "nico";
}

.banner-text p{
  font-size: 1.2rem;
  line-height: 1.9rem;
  font-family: "inter-light";
  color:#e4e4e4;
}

.texto{
  display: none;
}

.navTab{
  position: absolute;
  bottom:0;
  width: 100%;
  left:50%;
  transform: translate(-50%, 35%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.tab{
  position: relative;
  height: 15px;
  border-radius: 20px 0 20px 0;
  cursor: pointer;
}



@media screen and (max-width:1079px) {
  .banner-img{
    height: 550px;
  }
}


@media screen and (max-width:650px) {
  .banner-img{
    height: 255px;
  }
  .banner-text {
    padding: 90px 30px 160px 30px;
  }
  .banner-text h2{
    font-size: 1.6rem;
  }
  .banner-text p{
    font-size: 1rem;
  }
}