

.localização-contato{
  margin-top:200px;
  font-family: "inter-light";
}

.localização-contato-body{
  display: grid;
  grid-template-columns: 1fr 0.55fr;
  align-items: center;
  margin-top: 80px;
}

.mapa{
  position: relative;
  z-index: 222;
}


.info-adicional{
  background-color: #b10000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 45px;
  padding: 40px;
  border-bottom: 15px solid #EDA815;
}

.info-adicional ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
}

.info-adicional li{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.info-adicional li::before{
  content: "";
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  background-color: #ffffff;
}

.contato, .lojas{
  font-size:1rem;
}

.contato-title, .lojas-title{
  margin-bottom:20px;
}

.textoMapa{
  width: 200px;
  position: absolute;
  top:0;
  left:0;
  background-color: #272728;
  padding: 15px;
  z-index: 100;
  color: #ffffff;
  border-bottom: 7px solid #b10000;
  border-radius: 20px 0 20px 0;
  text-align: center;
}



@media screen and (max-width:375px) {
  .localização-contato .section-title h2{
    font-size:2rem;
  }
}

@media screen and (max-width:960px) {
  .localização-contato-body{
    grid-template-columns: 1fr;
  }
}

