.galeria{
  margin-top:160px;
}

.galeria-box{
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows:0.5fr 1fr 0.5fr;
  width: 100%;
  gap: 15px;
  margin-top:50px;
}

.foto{
  cursor: pointer;
  transition: 0.2s;
}

.foto:hover{
  transform: scale(1.02);
  transition: 0.2s;
}

.foto img{
  width: 100%;
}

.foto:nth-child(3){
  grid-row: 2;
  grid-column: -1 / 1;
}

.foto:nth-child(4){
  grid-row: 3;
}

.fullscreen-mode{
  position: fixed;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.897);
  z-index: 1000;
  opacity: 0;
  transition: 0.3s;
}

.fullscreen-foto{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 1600px;
  height: 750px;
  max-width: 100%;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  border:5px solid #EDA815;
}

.closeBtn{
  position: absolute;
  top:0;
  right:0;
  width: 40px;
  height: 40px;
  background-color: #c20000;
  cursor: pointer;
  transition: 0.2s;
}


@media screen and (max-width:440px) {
  .galeria-box{
    display: block;
  }
}