.menu-section{
  position: sticky;
  z-index: 900;
  top:0;
  left:0;
}

.menu{
  padding:30px;
  background-color: #2b2b2b;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}

.comprar{
  width: 140px;
  max-width: 100%;
  background-color: #EDA815;
  text-align: center;
  padding:10px;
  font-family: "inter-light";
  transition: 0.3s;
  font-size:0.8rem;
  cursor: pointer;
}

.comprar:hover{
  background-color: #ffc23f;
  transition: 0.3s;
}

.menu nav{
  width: 100%;
  margin: 0 auto;
}

.menu ul{
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: start;
  gap: 90px;
  margin-left:20px;
}

.menu a{
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-size:1rem;
  font-family: "inter-Medium";
  cursor: pointer;
}

.close:nth-child(1){
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) rotate(42deg);
}

.close:nth-child(2){
  display: none;
  transition: 0.3s;
}

.close:nth-child(3){
  top:50%;
  position: absolute;
  left:50%;
  transform: translate(-50%, -50%) rotate(-42deg);
}


@media screen and (max-width:960px) {
  .menu{
    width: 100%;
  }
  .mapa img{
    height: 750px;
  }
}

@media screen and (max-width:1090px) {
  .menu{
    position: fixed;
    display: flex;
    width: 210px;
    top:3.5%;
    left:0;
    gap: 30px;
    flex-direction: column;
    align-items: center; 
    justify-content: start;
    background-color: rgb(31, 31, 31);
    border-bottom:5px solid #A81F1F;
    padding: 30px;
    transition: 0.3s;
    opacity: 0;
    transform: translateX(-100%);
  }
  .menu nav ul{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    gap: 30px;
  }

  .menu nav{
    margin:0 45px 0 0;
  }

  .comprar{
    margin-right:15px;
  }

  .menu-mobile-icon{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    top:0;
    left:0;
    width: 40px;
    height: 40px;
    z-index: 9999;
    margin-bottom:35px;
    background-color: #A81F1F;
    border: 1px solid #ffffff;
    padding:5px;
    cursor: pointer;
  }

  .bar{
    width: 80%;
    height: 3px;
    border-radius: 15px;
    background-color: #ffffff;
  }
}